<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :class=>"form-control", :id=>"inlineFormInputName"%>
  </div>

  <div class="field">
    <%= form.label :Avatar %>
    <%= form.file_field :avatar, :class=>"form-control-file", :id=>"exampleFormControlFile1" %>
  </div>


  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, :class=>"form-control", :id=>"inputPassword" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :class=>"form-control", :id=>"inputEmail" %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_field :bio, :class=>"form-control" %>
  </div>
<br>
  <div class="actions">
    <%= form.submit :class => 'btn btn-info' %>
  </div>
<% end %>
