<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="whole-content">
  <table class='table table-striped table-dark'>
    <thead>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Password</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.name %></td>
        <td><%= user.password %></td>
        <td><%= user.bio %></td>
        <td><%= link_to 'Show', user, :class=>"btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class=>"btn btn-outline-info" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-outline-info" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


  <br>

  <%= link_to 'New User', new_user_path, :class => 'btn btn-info' %>
</div>
