<div class="container-fluid">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <img src="static/images/logo.png" class="logo">
      </div>
      <div class="col-4 text-center">
        <h2 class="text-dark" >Code times</h2>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </header>
</div>
<hr>

<div class="d-inline-flex flex-row">
  <nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
      <p>Категории:</p>
      <ul class="nav flex-column">
        <% @categories.each do |category| %>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <%= category.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="d-flex flex-row flex-wrap" style="width: 100%">
    <% @posts.each do |post| %>
      <div class="card flex-md-row box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block text-primary"> КАТЕГОРИЯ </strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#"> <%= post.title %> </a>
          </h3>
          <div class="mb-1 text-muted"> <%= post.date_of_publication %>  </div>
          <p class="card-text mb-auto">Содержание поста. <%= post.content %></p>
          <a href="#">Подробнее</a>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block card-img" src="static/images/no-image.png" alt="Card image cap">
      </div>
    <% end %>
  </div>

  <nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
      <p>Теги:</p>
      <ul class="nav flex-column">
        <% @tags.each do |tag|%>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <%= tag.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>