<%= form_with(model: tags_post, local: true) do |form| %>
  <% if tags_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tags_post.errors.count, "error") %> prohibited this tags_post from being saved:</h2>

      <ul>
        <% tags_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.text_field :tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
