<p id="notice"><%= notice %></p>

<h1>Tags Posts</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags_posts.each do |tags_post| %>
      <tr>
        <td><%= tags_post.post_id %></td>
        <td><%= tags_post.tag_id %></td>
        <td><%= link_to 'Show', tags_post %></td>
        <td><%= link_to 'Edit', edit_tags_post_path(tags_post) %></td>
        <td><%= link_to 'Destroy', tags_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tags Post', new_tags_post_path %>
